* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.App {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: center;
  justify-content: center; 
  overflow-y: auto;  
  padding: 50px 0;
  background: #EEE;
}

.login {
	background: #FFF;
	padding: 15px;
	border-radius: 5px;
	width: 100%;
	max-width: 350px;
	box-shadow: 0 0 3px #999;
}

.login h1 {
	margin-top: 0;
	margin-bottom: 15px;
	font-size: 20px;
	border-bottom: 1px solid #CCC;
	display: flex;
	height: 40px;
	align-items: center;
}

.login .form-row {
	margin-bottom: 15px;
}

.login .form-row label {
	display: block;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 3px;
}

.login .form-row input {
	width: 100%;
	border: 1px solid #CCC;
	border-radius: 3px;
	height: 28px;
	display: flex;
	align-items: center;
	padding: 0 7px;
}

.login .acoes {
	text-align: right;	
	width: 100%;
}

.login .acoes button {
	margin: 0;
	background: rgb(27, 132, 251);
	color: #FFF;
	height: 30px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 0 15px;
	border: none;
	border-radius: 5px;
}

.login .acoes button:hover {
	cursor: pointer;
	opacity: 0.8;
}

.login .alert {
	padding: 10px;
	font-size: 14px;
	margin-top: 10px;
	border-radius: 5px;
}

.login .alert.success {
	background: rgb(218, 255, 218);
	color: rgb(0, 117, 0);
}

.login .alert.error {
	background: rgb(255, 218, 218);
	color: rgb(117, 0, 0);
}