.calculadora {
	width: 100%;
	max-width: 250px;	
	display: flex;	
	flex-direction: column;	
}

.calculadora .linha {
	display: flex;
	width: 100%;
	border-top: 1px solid #bcbcbc;	
}

.calculadora .linha .resultado {
	background: #636463;
	height: 70px;
	width: 100%;
	color: #fff;
	display: flex;
	justify-content: flex-end;
	padding: 0 15px;
	align-items: center;
	font-size:26px;
	font-weight: 700;
}

.calculadora .linha .digito {
	display: flex;
	height: 50px;
	flex: 1;
	align-items: center;
	justify-content: center;
	background: #f1f1f1;
	border-right: 1px solid #bcbcbc;	
}
.calculadora .linha .digito:last-child {
	border: none;
}

.calculadora .linha .digito:hover {
	cursor: pointer;
	opacity: 0.8;
}

.calculadora .linha .digito.operacao {	
	background: #ea8745;
	color: #fff;
}

.calculadora .linha .operacao {
	max-width: 25%;
}
